body {
    margin: 0;
    font-size: 0;
}
.preview {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: calc(50vw - 150px);
    height: 100vh;
    overflow: scroll;
    box-sizing: border-box;
    padding: 20px 40px;
}